 {{#each items}}
<li data-id="{{id}}" class="frend" draggable="true">
    <img src="{{photo_50}}" alt="pic" class="frend__pic">
    <div class="frend__name">{{first_name}} {{last_name}}</div>
    <div data-id="{{id}}" class="cross cross-add"></div>
</li>
{{/each}}